.btn {

  background-color: $color-gray-5;
  color: $color-white;

  &,
  &:link,
  &:visited {
    font-family: $font-primary;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 3px;
    padding: 1rem 2rem;
    transition: all .2s;
  }

  &:hover {
    background-color: lighten($color-gray-4, 1%);
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: darken($color-gray-5, 10%);
  }

  &-primary {
    background-color: $color-primary-main;

    &:hover {
      background-color: $color-primary-light;
    }

    &:active {
      background-color: $color-primary-dark;
    }
  }
}
