.btn {

  background-color: $color-gray-5;
  color: $color-white;

  &,
  &:link,
  &:visited {
    font-family: $font-primary;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 3px;
    padding: 1rem 2rem;
  }

  &-primary {
    background-color: $color-primary-main;
  }
}
