.features {
  background-color: $color-primary-main;

  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5rem;

    @include respond(tab-port) {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $color-white;

  &__icon {
    fill: currentColor;
    height: 6rem;
    width: 6rem;
    margin-bottom: 3rem;
  }
}
