.guidelines {
  @include setWidth;

  &__list {
    list-style: none;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 2em;
    }

    &::before {
      content: "";
      display: inline-block;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem;

      background-image: url(../icons/feather.svg);
      background-size: cover;

      @supports (mask-image: url(../icons/feather.svg)) or (--webkit-mask-image: url(../icons/feather.svg)) {
        background-color: $color-primary-main;
        mask-image: url(../icons/feather.svg);
        mask-size: cover;
        background-image: none;
      }
    }
  }
}
