/* COLORS */

// Theme colors
$color-primary-light: #2193fd;
$color-primary-main: #117EE2;
$color-primary-dark: #0973d6;

$color-secondary-light: #009494;
$color-secondary-main: #008080;
$color-secondary-dark: #007070;

// Contrasting colors
$color-white: #fff;
$color-black: #000;

// Shades of gray:
$color-gray-1: #f7f7f7;
$color-gray-2: #f0f0f0;
$color-gray-3: #eee;
$color-gray-4: #C4C4C4;
$color-gray-5: #8F8F8F;
$color-gray-6: #424242;
$color-gray-7: #111;
$color-gray-8: #090909;

/* FONT */
$font-primary: 'Raleway',
'Roboto',
'Segoe UI',
sans-serif;

$font-secondary: 'Roboto Slab',
serif;
